Repository openedx/frontend-app-authoring, pull requests merged in 2023-09, with the labels that each got.

#585 feat: add help-urls
  src/help-urls/data/api.js
  src/help-urls/data/selectors.js
  src/help-urls/data/slice.js
  src/help-urls/data/thunks.js
  src/help-urls/hooks.jsx
  src/store.js
Labels: open-source-contribution, needs test run

#584 fix: reworked grading deadline
  codecov.yml
  package-lock.json
  package.json
  src/constants.js
  src/grading-settings/GradingSettings.test.jsx
  src/grading-settings/assignment-section/messages.js
  src/grading-settings/assignment-section/utils/enum.js
  src/grading-settings/data/api.js
  src/grading-settings/deadline-section/DeadlineSection.test.jsx
  src/grading-settings/deadline-section/index.jsx
  src/grading-settings/deadline-section/messages.js
  src/grading-settings/deadline-section/utils.js
  src/grading-settings/deadline-section/utils.test.js
  src/grading-settings/grading-scale/GradingScale.jsx
  src/grading-settings/grading-scale/GradingScale.test.jsx
  src/grading-settings/grading-scale/messages.js
  src/grading-settings/grading-scale/react-ranger.js
  src/grading-settings/grading-scale/utils.js
  src/i18n/messages/ar.json
  src/i18n/messages/de.json
  src/i18n/messages/de_DE.json
  src/i18n/messages/es_419.json
  src/i18n/messages/fr.json
  src/i18n/messages/fr_CA.json
  src/i18n/messages/hi.json
  src/i18n/messages/it.json
  src/i18n/messages/it_IT.json
  src/i18n/messages/pt.json
  src/i18n/messages/pt_PT.json
  src/i18n/messages/ru.json
  src/i18n/messages/uk.json
  src/i18n/messages/zh_CN.json
  src/utils.js
Labels: open-source-contribution

#586 feat: implement export page
  .env
  .env.development
  .env.test
  package-lock.json
  package.json
  src/CourseAuthoringRoutes.jsx
  src/export-page/CourseExportPage.jsx
  src/export-page/CourseExportPage.scss
  src/export-page/CourseExportPage.test.jsx
  src/export-page/__mocks__/exportPage.js
  src/export-page/__mocks__/index.js
  src/export-page/data/api.js
  src/export-page/data/api.test.js
  src/export-page/data/constants.js
  src/export-page/data/selectors.js
  src/export-page/data/slice.js
  src/export-page/data/thunks.js
  src/export-page/export-footer/ExportFooter.jsx
  src/export-page/export-footer/ExportFooter.scss
  src/export-page/export-footer/messages.js
  src/export-page/export-modal-error/ExportModalError.jsx
  src/export-page/export-modal-error/messages.js
  src/export-page/export-sidebar/ExportSidebar.jsx
  src/export-page/export-sidebar/ExportSidebar.scss
  src/export-page/export-sidebar/ExportSidebar.test.jsx
  src/export-page/export-sidebar/messages.js
  src/export-page/export-stepper/ExportStepper.jsx
  src/export-page/export-stepper/ExportStepper.scss
  src/export-page/export-stepper/ExportStepper.test.jsx
  src/export-page/export-stepper/messages.js
  src/export-page/messages.js
  src/export-page/utils.js
  src/export-page/utils.test.js
  src/generic/course-stepper/CourseStepper.test.jsx
  src/generic/course-stepper/CouseStepper.scss
  src/generic/course-stepper/index.jsx
  src/generic/modal-error/ModalError.jsx
  src/generic/styles.scss
  src/i18n/messages/ar.json
  src/i18n/messages/de.json
  src/i18n/messages/de_DE.json
  src/i18n/messages/es_419.json
  src/i18n/messages/fr.json
  src/i18n/messages/fr_CA.json
  src/i18n/messages/hi.json
  src/i18n/messages/it.json
  src/i18n/messages/it_IT.json
  src/i18n/messages/pt.json
  src/i18n/messages/pt_PT.json
  src/i18n/messages/ru.json
  src/i18n/messages/uk.json
  src/i18n/messages/zh_CN.json
  src/index.scss
  src/store.js
Labels: open-source-contribution, waiting on author

#587 feat: implement import page
  .env
  .env.development
  .env.test
  src/CourseAuthoringRoutes.jsx
  src/i18n/messages/ar.json
  src/i18n/messages/de.json
  src/i18n/messages/de_DE.json
  src/i18n/messages/es_419.json
  src/i18n/messages/fr.json
  src/i18n/messages/fr_CA.json
  src/i18n/messages/hi.json
  src/i18n/messages/it.json
  src/i18n/messages/it_IT.json
  src/i18n/messages/pt.json
  src/i18n/messages/pt_PT.json
  src/i18n/messages/ru.json
  src/i18n/messages/uk.json
  src/i18n/messages/zh_CN.json
  src/import-page/CourseImportPage.jsx
  src/import-page/CourseImportPage.scss
  src/import-page/CourseImportPage.test.jsx
  src/import-page/data/api.js
  src/import-page/data/api.test.jsx
  src/import-page/data/constants.js
  src/import-page/data/selectors.js
  src/import-page/data/slice.js
  src/import-page/data/thunks.js
  src/import-page/file-section/FileSection.jsx
  src/import-page/file-section/FileSection.test.jsx
  src/import-page/file-section/messages.js
  src/import-page/import-sidebar/ImportSidebar.jsx
  src/import-page/import-sidebar/ImportSidebar.scss
  src/import-page/import-sidebar/ImportSidebar.test.jsx
  src/import-page/import-sidebar/messages.js
  src/import-page/import-stepper/ImportStepper.jsx
  src/import-page/import-stepper/ImportStepper.test.jsx
  src/import-page/import-stepper/messages.js
  src/import-page/messages.js
  src/import-page/utils.js
  src/import-page/utils.test.js
  src/index.scss
  src/store.js
Labels: open-source-contribution, waiting on author
